.container-fluid
{
    background-color: rgba(0, 0, 0, 0.85); 
    backdrop-filter: blur(6px);
    font-size: 14px;
    margin: 0 auto;
}

.navbar-header > a:link,
.navbar-header > a:visited,
.navbar .navbar-nav > li > a:link,
.navbar .navbar-nav > li > a:visited
{
    color: #D4D4D4;
}

.navbar-header > a:hover,
.navbar-header > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus
{
    color: #FFFFFF;
    background-color: #444444; 
}

.navbar-nav li{
    display: inline-block;
}

.navbar .navbar-nav > li > a.languageswitch:link,
.navbar .navbar-nav > li > a.languageswitch:visited
{
    color: #797979;  
}
.navbar .navbar-nav > li > a.languageswitch:hover,
.navbar .navbar-nav > li > a.languageswitch:focus
{
    color: #D4D4D4;
    background-color: #000000; 
}

/* 以下取自「梅問題」 */
.navbar-brand{
    display: inline-block;
}
@media (max-width: 991px) {
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}

.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* .navbar-text {
    float: none;
    margin: 15px 0;
} */
/* since 3.1.0 */
.navbar-collapse.collapse.in { 
    display: block!important;
}
.collapsing {
    overflow: hidden!important;
}
}