h2.head {
  font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 34px;
  font-weight: bold;
}

h3.subhead {
  font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 22px;
  font-weight: 400;
}
  
body {
  font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif;
  background-color: ghostwhite;
}

@media (min-width: 1248px){
  img.index {
    max-width:75%;
  }
}

@media (max-width: 1248px){
  img.index {
    max-width:100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

a.price, a.price:hover {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  color: #777777;
  text-decoration: none;
  font-weight: normal;
}

a.tobuy {
  margin-top: 18px;
  margin-bottom: 18px;
  color: #2997ff;
  font-size: 18px;
}

a.store-link {
  color: #1e1e1e8f;
  font-size: 28px;
}

div.day-style {
  /* border: 1px solid #4CAF50; */
  padding-top: 90px;
  padding-bottom: 120px;
  background-color: ghostwhite;
}
    
div.night-style {
  /* border: 1px solid #4CAF50; */
  padding-top: 90px;
  padding-bottom: 120px;
  background-color: #000000;
}

div.night-style-fill-at-back-of-navbar {
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: #000000;
}

div.night-style h2.head, 
div.night-style h3.subhead
{
  color: #FFFFFF;
}

div.day-style h2.head, 
div.day-style h3.subhead
{
  color: #000000;
}