#myVideo {
    right: 0;
    bottom: 0;
    max-width: 100%; 
    }

@media screen and (min-width: 1248px){
    .on-video-content {
        position:absolute;
        background: rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 1247px){
    .on-video-content {
        background: rgba(0, 0, 0, 1);
    }
}

.on-video-content {
    float:left;
    z-index:300000;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    padding-top: 50px;
    }

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    }

#myBtn:hover {
    background: #ddd;
    color: black;
    }